body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/uic_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

Button {
  border-radius: 30px;
  margin: 5px;
}

img {
  width: 100px;
}

.topbar {
  background-color: white;
  border-bottom: 3px solid #151515;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.datatable {
  border-radius: 15px;

}
