* {
    margin: 0;
    padding: 0;
    color: #202020;
    font-weight: bold;
}

body {
    background-color: white;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(231, 158, 170);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(209, 126, 140);
}
